.gitignore
README.build
build-llvm11
build-llvm13
build-llvm15
clang+llvm-15.0.5-x86_64-linux-gnu-ubuntu-18.04.tar.xz
clang+llvm-15.0.5-x86_64-linux-gnu-ubuntu-18.04/
examples/Geant4.jl/
examples/Geant4/
examples/ex001-Factorized/
examples/ex001-HelloWorld/A.cxx
examples/ex001-HelloWorld/Hello.jl
examples/ex001-HelloWorld/Hello/
examples/ex001-HelloWorld/jlHello-report.txt
examples/ex001-HelloWorld/jlHello.cxx
examples/ex001-HelloWorld/jlHello.d
examples/ex001-HelloWorld/jlHello.h
examples/ex001-HelloWorld/jlHello.o
examples/ex001-HelloWorld/jlHello.so
examples/ex001-HelloWorld/libHello/
examples/ex002-ROOT-WIP/
examples/ex002-ROOT/#test.jl#
examples/ex002-ROOT/ROOT-generated.wit
examples/ex002-ROOT/ROOT/
examples/ex002-ROOT/Templates.cxx
examples/ex002-ROOT/demo_ROOT.png
examples/ex002-ROOT/demo_ROOT_out.root
examples/ex002-ROOT/demo_TGraph.png
examples/ex002-ROOT/jlROOT-notypedefs.cxx
examples/ex002-ROOT/jlROOT-report.txt
examples/ex002-ROOT/jlROOT-withautoveto.cxx
examples/ex002-ROOT/jlROOT.cxx-working
examples/ex002-ROOT/jlROOT.cxx.bak
examples/ex002-ROOT/jlROOT.cxx.jll
examples/ex002-ROOT/jlROOT.h
examples/ex002-ROOT/jlROOT/
examples/ex002-ROOT/jlROOTMain.cxx
examples/ex002-ROOT/jlROOTMain.d
examples/ex002-ROOT/jlROOTMain.o
examples/ex002-ROOT/jlROOTWrapperClasses.cxx
examples/ex002-ROOT/jlROOTWrapperClasses.d
examples/ex002-ROOT/jlROOTWrappers.cxx
examples/ex002-ROOT/jlROOTWrappers.d
examples/ex002-ROOT/jlROOTWrappers.o
examples/ex002-ROOT/jlTEST.cxx
examples/ex002-ROOT/jlTEST.h
examples/ex002-ROOT/jlWrapper.h
examples/ex002-ROOT/libROOT.1/
examples/ex002-ROOT/libROOT/
examples/ex002-ROOT/log
examples/ex002-ROOT/log.err
examples/ex002-ROOT/nanoad_contents
examples/ex002-ROOT/notes
examples/ex002-ROOT/patch
examples/ex002-ROOT/test.jl
examples/ex002-ROOT/trash/
examples/ex003-SimpleSharedLib/
examples/ex004-Pythia/
examples/ex005-MappedType/
llvm.tgz
log
patch
src/#genvers.cpp#
src/#toml.hpp#
src/corrected
src/doc/
src/genvers.cpp
test/#make.test#
test/NoUniqPtrExample/
test/TORESTORE
test/TestAccessAndDelete/Makefile.bak
test/TestAccessAndDelete/TestAccessAndDelete.jl
test/TestAccessAndDelete/TestAccessAndDelete/
test/TestAccessAndDelete/jlTestAccessAndDelete-report.txt
test/TestAccessAndDelete/jlTestAccessAndDelete.cxx
test/TestAccessAndDelete/jlTestAccessAndDelete.d
test/TestAccessAndDelete/jlTestAccessAndDelete.h
test/TestAccessAndDelete/jlTestAccessAndDelete.so
test/TestAccessAndDelete/jl_A_methods.cxx
test/TestAccessAndDelete/jl_B_methods.cxx
test/TestAccessAndDelete/libTestAccessAndDelete/
test/TestAcessAndDelete.tgz
test/TestBlackBox/
test/TestCtorDefVal/Makefile.bak
test/TestCtorDefVal/TestCtorDefVal.jl
test/TestCtorDefVal/TestCtorDefVal/
test/TestCtorDefVal/jlTestCtorDefVal-report.txt
test/TestCtorDefVal/jlTestCtorDefVal.cxx
test/TestCtorDefVal/jlTestCtorDefVal.d
test/TestCtorDefVal/jlTestCtorDefVal.h
test/TestCtorDefVal/jlTestCtorDefVal.so
test/TestCtorDefVal/libTestCtorDefVal/
test/TestExternC/
test/TestIncompleteArray/Makefile.bak
test/TestIncompleteArray/TestIncompleteArray.jl
test/TestIncompleteArray/libTestIncompleteArray/
test/TestInheritance/Makefile.bak
test/TestInheritance/TestInheritance.jl
test/TestInheritance/TestInheritance/
test/TestInheritance/jlTestInheritance-report.txt
test/TestInheritance/jlTestInheritance.cxx
test/TestInheritance/jlTestInheritance.d
test/TestInheritance/jlTestInheritance.h
test/TestInheritance/jlTestInheritance.so
test/TestInheritance/libTestInheritance/
test/TestNoFinalizer/A.d
test/TestNoFinalizer/Makefile.bak
test/TestNoFinalizer/TestNoFinalizer.jl
test/TestNoFinalizer/TestNoFinalizer/
test/TestNoFinalizer/jlTestNoFinalizer-report.txt
test/TestNoFinalizer/jlTestNoFinalizer.cxx
test/TestNoFinalizer/jlTestNoFinalizer.d
test/TestNoFinalizer/jlTestNoFinalizer.h
test/TestNoFinalizer/jlTestNoFinalizer.so
test/TestNoFinalizer/libTestNoFinalizer/
test/TestPointers/A.d
test/TestPointers/Makefile.bak
test/TestPointers/TestPointers.jl
test/TestPointers/TestPointers/
test/TestPointers/jlTestPointers-report.txt
test/TestPointers/libTestPointers/
test/TestPropagation/TestPropagation1.jl
test/TestPropagation/TestPropagation1/
test/TestPropagation/TestPropagation2.jl
test/TestPropagation/TestPropagation2/
test/TestPropagation/TestPropagation3.jl
test/TestPropagation/TestPropagation3/
test/TestPropagation/jlTestPropagation1-report.txt
test/TestPropagation/jlTestPropagation1.cxx
test/TestPropagation/jlTestPropagation1.d
test/TestPropagation/jlTestPropagation1.h
test/TestPropagation/jlTestPropagation1.so
test/TestPropagation/jlTestPropagation2-report.txt
test/TestPropagation/jlTestPropagation2.cxx
test/TestPropagation/jlTestPropagation2.d
test/TestPropagation/jlTestPropagation2.h
test/TestPropagation/jlTestPropagation2.so
test/TestPropagation/jlTestPropagation3-report.txt
test/TestPropagation/jlTestPropagation3.cxx
test/TestPropagation/jlTestPropagation3.d
test/TestPropagation/jlTestPropagation3.h
test/TestPropagation/jlTestPropagation3.so
test/TestPropagation/jl_A_methods.cxx
test/TestPropagation/jl_B_methods.cxx
test/TestPropagation/libTestPropagation1/
test/TestPropagation/libTestPropagation2/
test/TestPropagation/libTestPropagation3/
test/TestSizet/
test/TestStdString/TestStdString/
test/TestStdString/jlTestStdString-report.txt
test/TestStdString/libTestStdString/
test/TestTemplate0/
test/TestTemplate1/CMakeLists.txt
test/TestTemplate1/Makefile.bak
test/TestTemplate1/TestTemplate1.jl
test/TestTemplate1/TestTemplate1/
test/TestTemplate1/jlTestTemplate1-report.txt
test/TestTemplate1/jlTestTemplate1.cxx
test/TestTemplate1/jlTestTemplate1.d
test/TestTemplate1/jlTestTemplate1.h
test/TestTemplate1/jlTestTemplate1.so
test/TestTemplate1/libTestTemplate1/
test/TestTemplate2/Makefile.bak
test/TestTemplate2/TestTemplate2.jl
test/TestTemplate2/TestTemplate2/
test/TestTemplate2/jlTestTemplate2-report.txt
test/TestTemplate2/jlTestTemplate2.cxx
test/TestTemplate2/jlTestTemplate2.d
test/TestTemplate2/jlTestTemplate2.h
test/TestTemplate2/jlTestTemplate2.so
test/TestTemplate2/jl_A_methods.cxx
test/TestTemplate2/libTestTemplate2/
test/TestTemplate2/log
test/TestTemplate2/trash/
test/TestTime/
test/TestTypedef/
test/TestVarField/A.d
test/TestVarField/TestVarField.jl
test/TestVarField/TestVarField.jl.ref
test/TestVarField/TestVarField/
test/TestVarField/jlTestVarField-report.txt
test/TestVarField/jl_A_methods.cxx
test/TestVarField/jl_B_methods.cxx
test/TestVarField/libTestVarField/
test/TestVarField/trash/
test/TestXValue/
test/UniqPtrExample/
test/myruntests.jl
test/not_yet_working_tests/
test/toto

.vscode/
